.footer {
    height: 630px;
    position: relative;
    &__info {
        padding: 50px 54px;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 460px;
        height: 270px;
        background: $main_color;
    }
    &__addr {
        font-weight: 500;
        font-size: 20px;
        text-align: center;
        color: #FFFFFF;
        margin-bottom: 36px;
        line-height: 20px;
    }
    &__phone {
        display: block;
        font-weight: 700;
        font-size: 20px;
        text-align: center;
        color: #FFFFFF;
        margin-bottom: 36px;
        line-height: 20px;
        &:hover {
            color: #fff;
        }
    }
    &__social {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__social-item {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 53px;
        height: 52px;
        border: 2px solid #FFFFFF;
        border-radius: 100%;
        margin: 0 15px;
        &:hover {
            border: 2px solid violet;
        }
        img {
            height: 27px;
        }
    }
}