.reviews {
    padding: 0 0 48px 0;
    &__item {
        margin-top: 60px;
        display: flex;
        &__content {
            width: 686px;
            margin-left: 60px;
        }
    }
    &__img {
        width: 169px;
        height: 169px;
    }
    &__name {
        font-weight: 700;
        font-size: 18px;
        color: #0D0D0D;
    }
    &__descr {
        margin-top: 0px;
        line-height: 14px;
        font-weight: 500;
        font-size: 14px;
        color: #646464;
    }
    &__text {
        margin-top: 15px;
        font-weight: 300;
        font-size: 16px;
        line-height: 24px;
        color: #0D0D0D;
    }
}