.title {
    font-weight: 700;
    font-size: 30px;
    color: $adv_black;
    text-align: center;
    text-transform: uppercase;
    &_left {
        font-size: 36px;
        color: #FFFFFF;
        text-align: left;
    }
}